<html>
<head>

</head>

<body>
    <h3> Student Details </h3>
    <form action="/student_data" method="POST">
        name:
        <input type="text" name="student_name"> <br><br>
        roll_no:
        <input type="text" name="student_roll_no"> <br><br>
        subject1:
        <input type="text" name="student_sub1"> <br><br>
        subject2:
        <input type="text" name="student_sub2"> <br><br>
        subject3:
        <input type="text" name="student_sub3"> <br><br>
        <input type="submit">

    </form>

</body>

</html>